.numberButton {
    border: solid 1px grey;
    width: 125px;
    height: 125px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    
}

.banana {
    border: solid 1px grey;
    width: 375px;
    height: 125px;
    background-color: white;
    font-size: 25px;
    font-weight: 1;
   
}

.actionButton {
    border: solid 1px grey;
    width: 375px;
    height: 125px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
   
}

.largeNumberButton {
    border: solid 1px grey;
    width: 500px;
    height: 150px;
    background-color: #282828	;
    font-size: 75px;
    color: white;
    display: flex;
    justify-content: flex-end;
   
}

.redButtons {
    border: solid 1px grey;
    width: 125px;
    height: 125px;
    background-color: #900000 ;
    font-size: 25px;
    color: white;
    
}